/**
 * MANGOPAY wp-admin CSS
 *
 */

/** Status display **/
div.mangopay-status {
	width: 100%;
}
span.mp_checklist_status {
	float: right;
	width: 30%;
	font-weight: bold;
}
span.mp_checklist_status.success {
  	color: green;
}
span.mp_checklist_status.failure {
  	color: red;
}
.pv_shop_kyc_container mark {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    background: 0 0;
    font-size: 1.4em;
    margin: 0 auto;
}
.kyc_list_documents_banner{
    width: 100%;
    border: solid 1px;
    margin-bottom: 20px;
    padding: 5px;
    color: white;
}
.kyc_list_documents_banner.regular{
    background-color: #63a55b;
}
.kyc_list_documents_banner.light{
    background-color: #68aef3;
}
mark.kyc::after{
    font-family: WooCommerce;
    text-indent: 0;
    position: absolute;
    left: 0;
    /*top: 0;*/
    margin: 0 auto;
    font-size: 1.4em;
    background: 0 0;
    line-height: 1;
}
mark.kyc.not_sent::after {
    content: '\e012';
    color:#ffba00;
}
mark.kyc.validation_asked::after {
     content: '\e011';
     color: #73a724;
}
mark.kyc.validated::after {
     content: '\e015';
     color: #2ea2cc;
}
mark.kyc.refused::after {
     content: '\e013';
     color: #a00;
}
.kyc_list_documents_div_tooltype_error{
    position: absolute;
    z-index: 100;
    background-color: white;
    margin-left: 100px;
    border: solid 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.kyc_list_documents_td_status_icon{
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 30px;
    width: 30px;
    background: 0 0;
    font-size: 1.4em;
    margin: 0 auto;
    vertical-align: center;
}